<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Message de succès</ion-label>
      <ion-textarea [(ngModel)]="settings.winMessage"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Message d'erreur</ion-label>
      <ion-textarea [(ngModel)]="settings.wrongMessage"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 5px">
    <ion-button (click)="validate()" expand="block">Valider</ion-button>
  </ion-toolbar>
</ion-footer>
